  <main role="main" class="inner cover">
    <h1 class="cover-heading">Talofa</h1>
    <p class="lead">Fia maua se pepe. Faamolemole fia fai le googie</p>
    <p class="lead">
      <%= link_to "Click here to say yes", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
  </main>

 

        





